@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #000C4C;
$purple: #7A306C;
$teal: #085A6B;
$peach: #FFCDB2;
$grey-light: #E5E5E5;
$white: #ffff;

// Update Bulma's global variables
$family-sans-serif: "Avenir",
sans-serif;
$grey-dark: $blue;
$grey-light: $grey-light;
$primary: $blue;
$link: $purple;
$info: $teal;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$button-text-color: $peach;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";



// Christines Custom Playground

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;

    @include tablet {
        font-size: 1.15rem;
    }
}

.container {
    @media screen and (min-width: 1472px) {
        max-width: px;
        width: 100%;
    }
}

.subtitle {
    line-height: 1.5;
}

.active {
    background-color: #fafafa;
    color: #7A306C;
}

h1.home {
    font-size: 3rem;
    font-weight: 300;
}

h2.home {
    font-weight: 400;
}

.section-title {
    font-variant: all-small-caps;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    border-top: 2px solid #FFCDB2;
    border-bottom: 2px solid #FFCDB2;
}


.button.is-primary {
    color: #FFCDB2;
    font-weight: 500;
}

.button.is-link {
    color: #FFCDB2;
    font-weight: 500;
    margin-bottom: 1rem;
}



a.navbar-item.logo img {
    max-height: 6rem;
}

a.navbar-item.link {
    padding: 0 3rem;
    font-size: 20px;
}

.text-content {

    @include tablet {
        text-align: right;
    }
}


.text-design {
    text-align: center;

    @include tablet {
        text-align: left;
    }
}


.hero_img:hover path:nth-of-type(1) {
    fill: #E5E5E5;
}

.hero_img:hover path:nth-of-type(2) {
    fill: #7A306C;
}

.hero_img:hover path:nth-of-type(3) {
    fill: #FFCDB2;
}

.hero_img:hover path:nth-of-type(4) {
    fill: #085A6B;
}

.hero_img:hover path:nth-of-type(5) {
    stroke: #FFCDB2;
}

.hero_img:hover path:nth-of-type(6) {
    stroke: #000C4C;
}

.hero_img:hover path:nth-of-type(7) {
    stroke: #085A6B;
}

.hero_img:hover path:nth-of-type(8) {
    fill: #000C4C;
}

.hero_img:hover path:nth-of-type(9) {
    stroke: #7A306C;
}


h2 .level-left.spaced {
    margin-right: 2rem;
}

.see-more {
    margin-top: 2rem;
    text-align: center;

    @include tablet {
        margin-top: 10rem;
    }
}

.see-more a {
    color: #000C4C;
}

.section.project {
    position: relative;
}


.section.carecloud {
    position: relative;
}


.section.jasmine {
    position: relative;
    padding: 7rem 1.5rem;

    @include tablet {
        padding: 7rem 1.5rem;
    }

    @include desktop {
        padding: 18rem 1.5rem;
    }
}

.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 300px solid transparent;
    border-bottom: 300px solid transparent;
    border-left: 350px solid #DBE1F5;
    position: absolute;
    z-index: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: -1.5rem;

    @include tablet {
        border-top: 300px solid transparent;
        border-bottom: 300px solid transparent;
        border-left: 450px solid #DBE1F5;
    }

    @include desktop {
        border-top: 350px solid transparent;
        border-bottom: 300px solid transparent;
        border-left: 600px solid #DBE1F5;

    }

    @include widescreen {
        border-top: 400px solid transparent;
        border-bottom: 400px solid transparent;
        border-left: 750px solid #DBE1F5;

    }
}

.carecloud-text {
    text-align: center;

    @include tablet {
        text-align: left;
    }

}

.arrow-left1 {
    width: 0px;
    height: 0px;
    border-top: 300px solid transparent;
    border-bottom: 300px solid transparent;
    border-right: 350px solid #FFEAEA;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    @include tablet {
        border-top: 300px solid transparent;
        border-bottom: 200px solid transparent;
        border-right: 450px solid #FFEAEA;
    }

    @include desktop {
        border-top: 350px solid transparent;
        border-bottom: 300px solid transparent;
        border-right: 550px solid #FFEAEA;

    }

    @include widescreen {
        border-top: 400px solid transparent;
        border-bottom: 400px solid transparent;
        border-right: 750px solid #FFEAEA;

    }
}

.arrow-left {
    width: 0px;
    height: 0px;
    border-top: 300px solid transparent;
    border-bottom: 300px solid transparent;
    border-right: 350px solid #F0E4EF;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    @include tablet {
        border-top: 300px solid transparent;
        border-bottom: 200px solid transparent;
        border-right: 450px solid #F0E4EF;
    }

    @include desktop {
        border-top: 350px solid transparent;
        border-bottom: 300px solid transparent;
        border-right: 550px solid #F0E4EF;

    }

    @include widescreen {
        border-top: 400px solid transparent;
        border-bottom: 400px solid transparent;
        border-right: 750px solid #F0E4EF;

    }
}

.nucleus-text {
    text-align: center;

    @include tablet {
        text-align: right;
        margin-right: 2rem;
    }

    @include desktop {
        text-align: right;
        margin-right: 4rem;
    }

}

.jasmine-text {
    text-align: center;

    @include tablet {
        text-align: right;
    }

}


a.button.is-primary.is-medium.casestudy {
    margin-top: 1rem;
    color: #FFCDB2;
}

a.button.back {
    margin-right: 1rem;
}

.section.contact {
    background-color: #085A6B;
}

.contact-text {
    text-align: center;
}

.contact-text h1,
.contact-text h2,
.contact-text a.button {
    color: #FFCDB2;
}

.contact-text h2 {
    padding-top: 1rem;
    text-align: left;
    max-width: 550px;
    margin: 0 auto;
}

.copyright {
    display: flex;
}

.footer img {
    padding: 0 1rem;
}

.footer {
    background-color: #E5E5E5;
    padding: 1rem 1.5rem 1rem;
    font-size: 13px;
}


.section.hero {
    background-color: #085A6B;
    text-align: center;
}

.section.hero.nucleus {
    background-color: #000C4C;
    text-align: center;
}

.section.hero h1,
.section.hero h2,
.section.hero h4,
.section.hero p,
.section.hero a {
    color: #FFCDB2;
}

.button.prototype {
    margin-top: 2rem;
}

.summary {
    padding-top: 1rem;
}

.summary p {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.problem_solution {
    text-align: center;
}

.problem_solution h4,
.problem_solution p {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.project-duration {
    color: #085A6B;
}

.column.role,
.column.tool {
    @include tablet {
        border-right: 0.5px solid #085A6B;
    }
}

.role-tools-deliverables {
    text-align: center;
    padding-top: 1.5rem;
}

.role-tools-deliverables h4 {
    margin-bottom: .5rem;
    color: #085A6B;
}

.usersurvey {
    text-align: center;
}

.usersurvey p,
.usersurvey h4 {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;

}

.section-takeaway {
    background-color: #000C4C;
    padding: 2rem;
    margin: 0 auto;

    @include tablet {
        padding: 5rem;
    }

}


.takeaway p {
    color: #FFCDB2;
    border-left: 5px solid #FFCDB2;
    text-align: left;
    margin: 0 auto;
    max-width: 550px;
    padding: 1.5rem;
}

.section-takeaway1 {
    background-color: #FFEEE5;
    padding: 2rem;
    margin: 0 auto;

    @include tablet {
        padding: 5rem;
    }

}


.takeaway1 p {
    color: #000C4C;
    border-left: 5px solid #000C4C;
    text-align: left;
    margin: 0 auto;
    max-width: 400px;
    padding: 1.5rem;
}


.competitiveanalysis {
    text-align: center;
}

.competitiveanalysis p,
.competitiveanalysis h4 {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;

}

.userpersona {
    text-align: center;
}

.userpersona p,
.userpersona h4 {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.columns.nucleus_user {
    text-align: center;
    margin: 0 auto;
    max-width: 950px;
}

.columns.cloud_user {
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}

.column.nucleus_user1 {
    @include tablet {
        border-right: 1px solid #FFCDB2;
    }
}

.column.cloud_user1 {
    @include tablet {
        border-right: 1px solid #FFCDB2;
    }
}

.column.cloud_user2 {
    @include tablet {
        padding-left: 1.5rem;
    }
}

.column.nucleus_user2 {
    @include tablet {
        border-right: 1px solid #FFCDB2;
    }
}

.personalabel p {
    text-align: center;
}

.personatext p {
    padding: .5rem 0;
    font-size: 1rem;
    margin: 0 auto;
}

.personaquote {
    margin-top: 1rem;
    border-left: 4px solid #7A306C;
    padding: 0 1rem;
    color: #7A306C;
    font-weight: 600;
}

.personaquote1 {
    margin-top: 1rem;
    border-left: 4px solid #085A6B;
    padding: 0 1rem;
    color: #085A6B;
    font-weight: 600;
}

.userstories {
    text-align: center;
}

.userstories p,
.userstories h4 {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.userstories table {
    margin: 0 auto;
}

.userflows {
    margin-top: 1.5rem;
    text-align: center;
}

.userflows p,
.userflows h4 {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.userflowimg img {
    margin-top: 2rem;
}

.userflowcloud {
    max-width: 900px;
    margin: 0 auto;
}

.card.carecloud {
    margin-top: 2rem;
}

.wireframes {
    text-align: center;
}

.wireframes p,
.wireframes h4 {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;

}

.columns.wireframe {
    max-width: 900px;
    margin: 0 auto;
}

.styleguide {
    text-align: center;
    margin: 0 auto;
}

.styleguide p,
.styleguide h4 {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.columns.color-palette {
    max-width: 900px;
    margin: 0 auto;
}


.card-content.color1,
.card-content.color2,
.card-content.color3,
.card-content.color4,
.card-content.color5 {

    padding: 3rem 0;
}

.card-footer-item {
    font-size: 14px;
    padding: 0.2rem;
}

.color1 {
    background-color: #1A3E6D;
}

.color2 {
    background-color: #FF5E5B;
}

.color3 {
    background-color: #0797ED;
}

.color4 {
    background-color: #FFFFDB;
}

.color5 {
    background-color: #E0D0C8;
}


.card.color {
    margin-right: 1rem;
    margin-bottom: 1rem;
}


.typography p {
    text-align: left;
    margin: 0 auto;
    max-width: 1000px;
}

.typography.box {
    margin: 0 auto;
    max-width: 1000px;
}


.logo p {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.logo.box {
    max-width: 900px;
    margin: 0 auto;
}

.columns.logo {
    margin: 0 auto;
}

.iconography.box {
    max-width: 900px;
    margin: 0 auto;
}

.mockups,
.hi_fi,
.mockups1 {
    text-align: center;
    margin: 0 auto;
}

.columns.mockup1 {
    max-width: 1000px;
    margin: 0 auto;
}

.mockups p,
.mockups h4,
.mockups1 p,
.mockups1 h4,
.hi_fi p,
.hi_fi h4,
.hi_fi-img {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}


.img_mockup1 {
    border-bottom: .5px solid #FFCDB2;
    margin: 0 auto;
    padding: 1.5rem;
}

.img_mockup2 {
    border-bottom: .5px solid #FFCDB2;
    margin: 0 auto;
    padding: 1.5rem;
}

.img_mockup3 {
    margin: 0 auto;
    padding: 1.5rem;
}

.img_mockup4 {
    border-bottom: .5px solid #FFCDB2;
    margin: 0 auto;
    padding: 1.5rem;
}

.img_mockup5 {
    border-bottom: .5px solid #FFCDB2;
    margin: 0 auto;
    padding: 1.5rem;
}

.img_mockup6 {
    margin: 0 auto;
    padding: 1.5rem;
}



.wireframeusability-img1,
.wireframeusability-img2 {
    max-width: 900px;
    margin: 0 auto;
}


.wireframeusability-img1,
.usability-img1,
.usability-img2 {
    border-bottom: .5px solid #FFCDB2;
    margin: 0 auto;
    padding: 1.5rem;
}

.usersurvey-text p,
.usersurvey-text h4 {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;

}


.stats {
    margin: 0 auto;
    max-width: 1000px;
}

.stats p {
    text-align: left;
}


.competitivetext {
    @include desktop {
        margin-right: 1rem;
    }
}


.list-text {
    vertical-align: super;
    margin: 10px;
}


.persona_links,
.persona_links2 {
    text-align: center;
}


figure img {
    margin-bottom: 1rem;
}

.content {
    margin-top: 1rem;
    font-size: 16px;
}


.table {
    font-size: 13px;


    @include desktop {
        font-size: 15px;
    }
}

.table thead {
    background-color: #000C4C;
}

.table thead th {
    color: #FFCDB2;
}

.card-image.flow {
    padding: 1rem;
}

.flow-text p {
    margin-bottom: 1rem;
}


.usability-wireframe {
    margin-top: 1rem;
}


.styletext p {
    @include tablet {
        width: 90%;
    }
}

.color-palette {
    margin-top: 1rem;


    @include tablet {
        display: flex;
    }

}

.card-content.color_1,
.card-content.color_2,
.card-content.color_3,
.card-content.color_4 {

    padding: 3rem 0;
}

.card-footer-item {
    font-size: 14px;
    padding: 0.2rem;
}

.color_1 {
    background-color: #1C3097;
}

.color_2 {
    background-color: #4A67CF;
}

.color_3 {
    background-color: #C9C5C5;
}

.color_4 {
    background-color: #EFEFEF;
}

.card.color {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.style-bottom {
    display: flex;
    margin: 1rem 0;
}

.logotext {
    margin-bottom: 1rem;
}

.logo img {
    margin-bottom: 1rem;
}

.typography {
    margin-top: 0.5rem;
}

.logo-testing {
    text-align: center;
}

.logo-testing img {
    margin-bottom: 2rem;
}

.usability-img {
    margin: 0 auto;
}

.preferencetesting {
    background-color: #DBE1F5;
    padding: .5rem;
}

.preferencetesting p {
    text-align: center;
    margin-bottom: 1rem;
}

.preferencetesting1 {
    background-color: #FFEEE5;
    padding: .5rem;
    margin-bottom: 2rem;
}

.preferencetesting1 p {
    text-align: center;
    margin-bottom: 1rem;
}

.section.conclusion {
    background-color: #085A6B;
    color: #FFCDB2;
    text-align: center;
    padding: 2rem;

    @include tablet {
        padding: 5rem;
    }
}



.section.conclusion1 {
    background-color: #000C4C;
    color: #FFCDB2;
    text-align: center;
    padding: 2rem;

    @include tablet {
        padding: 5rem;
    }
}

.section.conclusion p,
.section.conclusion1 p {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 2rem;

    @include desktop {
        width: 70%;
    }

}

.section.conclusion h1,
.section.conclusion1 h1 {
    color: #FFCDB2;
}

.section.about {
    position: relative;
    background-color: #E5E5E5;
    max-width: 2075px;
    margin: 0 auto;

}


.about-me1 {
    background-color: #E5E5E5;
    margin-bottom: 3rem;

    @include tablet {
        width: 60%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        bottom: -2rem;
    }

    @include desktop {
        width: 50%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        bottom: -3rem;
    }
}


.column.parallelogram_img {
    position: relative;
    overflow: hidden;

    @include tablet {
        margin-left: -1.5rem;
    }
}

.column.parallelogram {
    position: relative;
    overflow: hidden;
    padding: 0rem;
}

.column.parallelogram_img::before {

    @include tablet {
        content: '';
        display: block;
        width: 100%;
        background-color: #E5E5E5;
        height: 200px;
        position: absolute;
        transform: skew(0deg, 12deg);
        top: -8%;
        z-index: 1;
    }
}

.column.parallelogram_img::after {
    @include tablet {
        content: '';
        display: block;
        width: 100%;
        background-color: #E5E5E5;
        height: 217px;
        position: absolute;
        transform: skew(0deg, 12deg);
        bottom: -11%;
        z-index: 1;
    }

}


.parallelogram {
    @include tablet {
        height: 1000px;
        width: 1000px;
        background-color: #000C4C;
    }
}



.column.parallelogram::before {
    @include tablet {
        content: '';
        display: block;
        width: 100%;
        background-color: #E5E5E5;
        height: 220px;
        position: absolute;
        transform: skew(0deg, -12deg);
        top: -10%;
    }
}

.column.parallelogram::after {
    @include tablet {
        content: '';
        display: block;
        width: 100%;
        background-color: #E5E5E5;
        height: 217px;
        position: absolute;
        transform: skew(0deg, -12deg);
        bottom: -11%;
    }

}

.column.one-half.parallelogram {
    display: flex;

    @include tablet {
        margin-right: -0.75rem;
    }


}

.me_img img {
    @include tablet {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.about-me2 {
    background-color: #000C4C;
    color: #FFCDB2;
    padding: 2rem 1rem;
    align-self: center;

    @include tablet {
        padding: 1rem;
    }

    @include desktop {
        padding: 4rem;
    }
}

.about-me3 {
    background-color: #E5E5E5;
    margin-top: 3rem;

    @include tablet {
        position: relative;

        width: 65%;
        margin: 0 auto;
        top: 0rem;
        z-index: 2;
        padding-bottom: 2rem;
    }

    @include desktop {
        width: 50%;
        margin: 0 auto;
        top: 0rem;
        padding: 2rem 0;
    }

}